---
import { verify } from "argon2";
import { eq } from "drizzle-orm";
import Layout from "~/components/layout.astro";
import { Button } from "~/components/ui/button";
import { Input } from "~/components/ui/input";
import { Label } from "~/components/ui/label";
import { db } from "~/db";
import { Users } from "~/db/schema";
import { createSession } from "~/db/session";

if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const email = formData.get("email")?.toString();
	const password = formData.get("password")?.toString();

	if (!email || !password) {
		return new Response("Email and password are required", { status: 400 });
	}

	const [user] = await db.select().from(Users).where(eq(Users.email, email));

	if (!user) {
		return new Response("Invalid email or password", { status: 400 });
	}

	const passwordMatch = await verify(user.password, password);

	if (!passwordMatch) {
		return new Response("Invalid email or password", { status: 400 });
	}

	return new Response(null, {
		status: 302,
		headers: {
			"Set-Cookie": await createSession(user.id),
			Location: "/",
		},
	});
}
---

<Layout>
	<div class="container max-w-lg min-h-screen flex flex-col justify-center">
		<h1 class="text-2xl">Login</h1>

		<div class="pt-8">
			<form method="POST" class="space-y-4">
				<div>
					<Label htmlFor="email">Email</Label>
					<Input
						type="email"
						id="email"
						name="email"
						placeholder="user@example.com"
						required
					/>
				</div>

				<div>
					<Label htmlFor="password">Password</Label>
					<Input
						type="password"
						id="password"
						name="password"
						placeholder="••••••••"
						required
					/>
				</div>

				<Button type="submit">Login</Button>
			</form>

			<p class="pt-4">
				Don't have an account? <a href="/register" class="text-blue-500">
					Register
				</a>
			</p>
		</div>
	</div>
</Layout>
