---
import { cn } from "~/lib/utils";

interface Props {
	style?: string;
	id?: string;
	class?: string;
	message?: string[];
}

const { class: className, ...props } = Astro.props;
---

{
	Astro.props.message ? (
		<p
			class={cn("text-sm font-medium text-destructive", className)}
			{...props}
			aria-live="assertive"
		>
			{Astro.props.message.join(", ")}
		</p>
	) : null
}
